* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 300;
}

/* The Sunburst chart and its container */

.periodic-sunburst {
    width: 100vw;
    height: 99vh;
    padding: 0.5vh 0 0 0;
    margin: 0;
}

.wj-flexchart {
    border: none;
}

.wj-flexchart .wj-state-selected {
    stroke-width: 3px;
    stroke-linecap: square;
    stroke-dasharray: 0;
}

.wj-tooltip {
    display: none;
}

.wj-data-label {
    cursor: default;
}

/* The properties tile that goes in the center of the chart */

.properties-tile {
    display: block;
    position: absolute;
    background: transparent;
    visibility: hidden;
    text-align: center;
}

.properties-tile > div {
    position: relative;
    display: none;
    padding: 0;
    margin: 0;
    border: none;
}

.properties-tile > div > span {
    display: block;
}

/* Specific info pane styling */
/* TODO: use classes, not ids EVERYWHERE */

#element-symbol {
    font-size: 2em;
    margin-bottom: 5px;
}

#element-name, #group-name {
    font-size: 1.25em;
    margin-bottom: 20px;
}

#group-name {
    font-size: 1.5em;
}

.subgroups-title {
    font-weight: 500;
}

#subGroup-name {
    font-size: 1.25em;
    margin-bottom: 5px;
}

.element-number-overview {
    font-weight: 500;
    margin-bottom: 15px;
}

#num-elements {
    font-weight: 300;
}

.characteristics-title {
    font-weight: 500;
}
