* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 300;
}

.periodic-sunburst {
    width: 100vw;
    height: 99vh;
    padding: 0.5vh 0 0 0;
    margin: 0;
}

.wj-flexchart {
    border: none;
}

.wj-flexchart .wj-state-selected {
    stroke-width: 2px;
    stroke: #F44336;
    stroke-linecap: square;
    stroke-dasharray: 0;
}

.wj-tooltip {
    display: none;
}
